
<div>
    <input
    [(ngModel)]="studentname"
    (input)="getName($event)"
      type="text"
      name="studentname"
      class="form-control mb-3 mt-3"
      placeholder="Student Name"
/>
@if(name_flag == true){
    <span class="text-danger d-block ">{{name_valid}}</span>
}



</div>

<div>
  <input
  [(ngModel)]="studentage"
    (input)="getAge($event)"
    type="text"
    name="studentage"
    class="form-control mb-3 mt-3 "
    placeholder="Student Age "
  />

  @if(age_flag == true)
  {
   <span class="text-danger d-block ">{{age_valid}}</span>

  }
</div>


<button class ="btn btn-primary mt-3 mb-3" (click)=addStudent()>Add Student</button>

<table class="table table-bordered mb-3">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        @for(st of studentlist; track st.id;let i = $index)
        {
            <tr class="parent">
                <td>{{st.id}}</td>
                <td>{{st.name}}</td>
                <td>{{st.age}}</td>
                <td><button class ="btn btn-danger " (click) = delete(i)>Delete</button></td>
            </tr>
        }
    </tbody>
  </table>
