<div class="container mt-5">
    <h1 class="my-2 text-muted text-center">
    </h1>
    <form (submit)=" productHandler()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Product Name</label>
        <input
         [(ngModel)]="name"
          type="text"
          name="productName"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter Product Name"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Price</label>
        <input
         [(ngModel)]="price"
          type="number"
          name="price"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Enter Product Price"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword6" class="form-label">Quantity</label>
        <input
          [(ngModel)]="quantity"
          name="quantity"
          type="number"
          class="form-control"
          id="exampleInputPassword6"
          placeholder="Enter Product Quantity"
        />
      </div>
  
      <div class="mb-3">
        <label class="form-label" for="image">Image</label>
        <input name="image" type="file" class="form-control" id ="image" placeholder ="Choose Image" [(ngModel)]="img" (change)="onFileSelected($event)"/>
      </div>
      <button type="submit" class="btn btn-success mb-5 ">{{productId == 0 ? "Add Product" : "Edit Product"}}</button>
    </form>
  </div>
  